body {margin: 0;}

header {
    background-color: #1F2937;
    color:white;
    padding-left:15%;
    padding-right:15%;
    padding-top:20px;
    max-height: 40vh;
    display:flex;
    flex-direction: column;
}

/* Upper Header Area */ 

.herohead {
    display:flex;
    flex:auto
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap:20px;
    font-size:18px;
    color: #E5E7EB;
}

.pusher {
    margin-left:auto;
}

.logo {

}
.link {
    display:flex;

}

a {
    color:white;
    text-decoration: none;
}

/*Lower Header Area*/

