body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color:white;
    padding-left:5%;
    padding-right:5%;
    padding-top:20px;
    max-height: 40vh;
    display:flex;
    flex-direction: column;
}

/* Upper Header Area */ 

.herohead {
    display:flex;
    flex:auto
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap:20px;
    font-size:18px;
    height: 2.5vh;
}

.pusher {
    margin-left:auto;
}

.link {
    display:flex;
    font-size: 1.75vh;
    justify-content: space-around;
    margin-right:5%;
    align-self: center;
    color:#646669;
}

.logo {
    display: flex;
    flex-shrink: 1;
    height:3.5vh;
    width: auto;;
    min-width: 0;
    min-height: 0;
} 

a {
    color:#aeb0b5;
    text-decoration: none;
}

/*Lower Header Area*/

.Hlower {
    display: flex;
    gap:20px;
}

.intro {
    max-height: 25vh;
    min-height: 0;
    margin: 0;
    color:#aeb0b5
}

.Intro p {
    font-size: 2vh;
    margin: 0;
    color:#aeb0b5
}

.h3 {
    font-size: 5vh;
    font-weight: 800;
    color:#aeb0b5
}
.chairdog {
    flex: 1,0,auto;
    min-width:18vw;;
    max-width: 300px;
    min-height: 0;
    max-height: 25vh;
    height: 25vh;
    margin:5%;
    margin-top:2.5%;
    align-self: flex-start;
}

button {

    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: white solid 1px;
    width:200px;
    margin-top:3vh;
}
/* Main body */

.interestimages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:4vh;
    gap:40px;
}

#main h5 {
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

#main img {
    border:3px solid #3882f6;
    border-radius: 25px;
}
.int1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    height: fit-content;
    align-items: center;
    font-size: 16px;
    color:#5e5e60;
    width:
}

.int2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    height: fit-content;
    align-items: center;
    font-size: 16px;
    color:#5e5e60;
}

.int3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    height: fit-content;
    align-items:center;
    font-size: 16px;
    color:#5e5e60;

}

.int4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    height: fit-content;
    align-items:center;
    font-size: 16px;
    color:#5e5e60;

}

.quotebox {
    background-color:#7b7b7e;
   width: 100vw;
   font-size: 18px;
   color: #1f2937;
   font-weight: 400;
   flex-wrap:nowrap;
   display:flex;
   flex-direction: column;
   padding-bottom: 20px;
}

.quotebox p{
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
}

.qauthor { 
    justify-content: center;
   font-size: 18px;
   align-self: flex-end;
   justify-self: flex-end;
   font-weight: bold;
   min-width: 0;
   min-height: 0;
}

.bottommain {
display: flex; 
flex-direction: row;
justify-content: center;
align-items: center;
}

.cta {
    background-color: #3882f6;
    color: #ebedf1;
    margin:5vh;
    width: 50vw;
    border-radius:8px;
    display: flex;
    justify-content: flex-start;
    padding:1vh 4vw 1vh 4vw;
    align-items: center;

}

.subtext {
    color:#aeb0b5;
}

.cta button  {
    align-self:center;
    margin-left: auto;
    margin-bottom:20px;
    background-color: #3882f6;
    color: #ebedf1;
    border-radius: 8px;
    border: white solid 1px;
    width:120px;
}

footer {
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    color: #bcc0c6;
}
